<nav>
    <h2 class="logo">Welcome lechixy</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/commands">Commands</a></li>
        <li><a href="<%= bot.invite %>">Server</a></li>
    </ul>
</nav>