<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= bot.name %></title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="hero">
        <%- include('header'); -%>

        <h1><%= bot.name %></h1>
        <a href="/commands"><button type="button" >Show me commands &#x27F6;</button></a>

    </div>



</body>

</html>