<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lechsbott</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            height: 100vh;

            background-color: #333;
        }

        #header_item {
            color: white;
            transition: ease-out 0.3s;
        }
        #header_item:hover {
            cursor: pointer;
            color: rgb(183, 0, 255);
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 id="header_item">lechsbott</h1>
        <img src="https://cdn.discordapp.com/attachments/843582665051471942/886694119618015333/ariana_grande_collage.png" alt="ariana_image" width="1000">
    </div>

</body>

</html>