*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root{
  --background: url(https://64.media.tumblr.com/36e07590c09d660f83007c292ae1ba6b/f9a47700fc90c22d-5b/s1280x1920/29d3434f06a046bb236e6f9087b607bf2f08b833.gifv) 
}

.hero {
  
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  color: #fff;
  padding: 0 8%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo{
  text-shadow: 0px 0px 20px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

.hero h1{
  font-size: 75px;
  margin-top: 12%;
}

.hero button{
  background: #393939;
  border: 0;
  outline: none;
  padding: 15px 35px;
  color: #fff;
  margin-top: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
